.App {
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column; */
}

#Clock{
  position: absolute;
  right: 1vw;
  top: 1vh;
  z-index: 10;
  border: 5px solid blue;

}

#map {
  position: absolute;
  left: 40vw;
  top: 0vh;
  width: 60vw;
  height: 100vh;
  border: 5px solid pink;
  box-sizing: border-box;
}

#toolbar {
  width: 40vw;
  height: 100vh;
  border: 5px solid blue;
  box-sizing: border-box;
}

#tableRow {
  display: flex;
  flex-direction: row;
  width: 40vw;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.tableItem {
  border: 1px solid black;
  width: 8vw;
  height: 3vh;
  justify-content: center;
  align-items: center;
}

#inputsContainer {
  display: flex;
  flex-direction: row;
  /* gap : 3vw; */
  width: 40vw;
  box-sizing: border-box;
}

.inputBox {
  width: 7vw;
  /* border: 5px solid blue; */

}
