.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#Clock{
  position: absolute;
  right: 1vw;
  top: 1vh;
  z-index: 10;
  border: 5px solid black;
  border-radius: 10px;
font-size: 70px;
background-color: white;
}

#map {
  position: absolute;
  left: 30%;
  top: 0vh;
  width: 70%;
  height: 100%;
  /* border: 5px solid pink; */
  /* box-sizing: border-box; */
}

#toolbar {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  border: 1px solid blue;
  box-sizing: border-box;
}

#tableRow {
  display: flex;
  flex-direction: row;
  width: 30vw;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.tableItem {
  border: 1px solid black;
  gap:1px;
  width: 8vw;
  height: 3vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

#form{
  /* border: 1px solid green; */

}

#title{
  font-size: 50px;
  padding: 5px;
}

#inputsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.inputBox {
  width: 5vw;
  /* border: 5px solid blue; */
  box-sizing: border-box;
}

